.game {
    width: 600px;
    height: 200px;
    border-bottom: 1px solid #000;
    margin: auto;
}
#start {
    width: 80px;
    height: 50px;
    border-radius: 20px;
    position:absolute;
    top: 75px;
    background-color: gray;
    left: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: larger;
}
#start:hover {
    cursor: pointer;
}
#dino {
    width: 50px;
    height: 60px;
    background-image: url(img/jimin_1.png);
    background-size: 50px 60px;
    position: relative;
    left: 10px;
    top: 140px;
    /* animation: run 0.3s infinite linear; */
}
#cactus {
    width: 20px;
    height: 35px;
    background-image: url(img/cactus.png);
    background-size: 20px 35px;
    position: relative;
    top: 105px;
    left: 550px;
}
#result {
    position:fixed;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: gray;
}
.cactus_movement {
    animation: cactus infinite linear;
}

.run {
    animation: run 0.3s infinite linear;
}

@keyframes cactus {
    0% {
        left: 550px;
    }
    100% {
        left: -30px;
    }
}
@keyframes run {
    0% {
        background-image: url(img/jimin_1.png);
    }
    50% {
        background-image: url(img/jimin_2.png);
    }
    100% {
        background-image: url(img/jimin_3.png);
    }
}
.jump {
    animation: jump 0.4s  linear;
}

@keyframes jump {
    0% {
        top: 140px;
    }
    10% {
        top: 125px;
    }
    15% {
        top: 110px
    }
    25% {
        top: 90px;
    }
    35% {
        top: 60px;
    }
    45% {
        top: 60px;
    }
    50% {
        top: 60px;
    }
    60% {
        top: 85px;
    }
    70% {
        top: 105px;
    }
    80% {
        top: 120px;
    }
    100% {
        top: 140px;
    }
}